<footer class="site-footer">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4">
          <h3>Phone Support</h3>
          <p>24/7 Call us now.</p>
          <p class="lead"><a href="tel://">+ 1 332 3093 323</a></p>
        </div>
        <div class="col-md-4">
          <h3>Connect With Us</h3>
          <p>We are socialized. Follow us</p>
          <p>
            <a href="https://facebook.com" class="pl-0 p-3"><span class="fa fa-facebook"></span></a>
            <a href="https://twitter.com" class="p-3"><span class="fa fa-twitter"></span></a>
            <a href="https://twitter.com" class="p-3"><span class="fa fa-instagram"></span></a>
            <a href="https://youtube.com" class="p-3"><span class="fa fa-youtube-play"></span></a>
          </p>
        </div>
        <div class="col-md-4">
          <h3>Connect With Us</h3>
          <p>lets us socialize and interact on our social media platform</p>
          <form action="#" class="subscribe">
            <div class="form-group">
              <button type="submit"><span class="ion-ios-arrow-thin-right"></span></button>
              <input type="email" class="form-control" placeholder="Enter email">
            </div>
            
          </form>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-7 text-center">
          &copy; 
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> Frontline Inn Hostel<i class="fa fa-heart-o" aria-hidden="true"></i> <a href="https://colorlib.com" target="_blank"></a>
  
        </div>
      </div>
    </div>
  </footer>
  