<%- include('./includes/header.ejs')  %>

<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
    
        <div class="active item">
        <div class="image-position-right">
            <a href="#"><img src="validimagelink.jpg" width="920" height="550" alt=""></a>
        </div>
        </div>
    
    
        <div class="item">
        <div class="image-position-right">
            <a href="#"><img src="validimagelink.jpg" width="920" height="550" alt=""></a>
        </div>
        </div>
    
    </div>
    
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a